{% extends "base.html" %} {% block title %}add {% endblock %} {% block
content %}
<h1>add Card for {{ username }}</h1>

<form action="" method="POST">
  <!-- <select id="priority" name="priority" required>
    <option value="low">Low</option>
    <option value="medium">Medium</option>
    <option value="high">High</option>
</select><br><br> -->

  <label for="cardname">cardname :</label>
  <input
    type="text"
    name="cardname"
    id="cardname"
    value="cardname"
  />
  <label for="chores">Chores (comma-separated):</label>
  <input
    type="text"
    name="chores"
    id="chores"
    value="chores"
  />
  <button type="submit">add</button>
</form>
<a href="/">Back to list</a>
{% endblock %}
