{% extends "base.html" %} {% block title %}main page {% endblock %} {% block
content %}

<ul>
  {% for thisuser in users %} {%for card in cards %} {% if
  thisuser.username==card.username %}
  <!-- and card.chores|length>0 -->
  <li>
    {{card.cardname}} user: {{ thisuser.username }} to-do list: {{ card.chores}}
  </li>
  <button onclick="window.location.href='/edit/{{card.id}}';">edit</button>
  <button onclick="window.location.href='/add/{{card.username}}';">add</button>
  <button onclick="window.location.href='/delete/{{card.id}}';">delete</button>
  <button onclick="window.location.href='/single/{{card.username}}';">show all cards of {{card.username}}</button>
  <button onclick="window.location.href='/single_card/{{card.id}}';">show card alone</button>


  {% endif %} {% endfor %} {% endfor %}
</ul>

<select id="username" name="username" required>
  {% for user in users %}
    <option value="{{ user.username }}">{{ user.username }}</option>
  {% endfor %}
</select>

<button type="button" onclick="redirectToPage()">Go</button>

<script>
  function redirectToPage() {
    var selectedUsername = document.getElementById("username").value;
    window.location.href = "/add/<string:username>";
  }
</script>

{% endblock %}
