{% extends "base.html" %} {% block title %}main page {% endblock %} {% block
content %}

<ul>
  {% for thisuser in users %} {%for card in cards %} {% if
  thisuser.username==thisusername%}
  <li>
    {{card.cardname}} user: {{ thisuser.username }} to-do list: {{ card.chores}}
  
  </li>
  <button onclick="window.location.href='/edit/{{card.id}}';">edit</button>
  <button onclick="window.location.href='/add/{{card.id}}';">add</button>
  <button onclick="window.location.href='/delete/{{card.id}}';">delete</button>
  {% endif %}
  

  {% endfor %} {% endfor %}
</ul>

{% endblock %}
